




/*------------------------------------*\
    $INICIO_VERSION
\*------------------------------------*/


html.inicio, html.inicio body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    @include prefixer(box-sizing, border-box, webkit moz o ms spec);

    /*background: radial-gradient(ellipse at center center, #7799bb 0%, #3c5977 100%);*/
    background: #7799bb; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc3OTliYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYzU5NzciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

    /* assignem gradient de colors */
    background: -moz-linear-gradient(left, #7799bb 0%, #3c5977 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#7799bb), color-stop(100%,#3c5977)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #7799bb 0%,#3c5977 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #7799bb 0%,#3c5977 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #7799bb 0%,#3c5977 100%); /* IE10+ */
    background: linear-gradient(to right, #7799bb 0%,#3c5977 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7799bb', endColorstr='#3c5977',GradientType=1 ); /* IE6-8 */

    font-size: 200px;
    height: 100%;

    body {
//    	@include media-query-bp($bp1,max,device-width,screen) {
// 		color: blue;
// 	}
		
        font: .1rem 'Open Sans', sans-serif;
        @include font-size(2);
        //background: url("../../../../commons/frameworkcss/imgs/bg/mapa.png") center center no-repeat;
        background: url( $image-dir + "/bg/mapa.png") center center no-repeat;
    }

    .logo {
        margin: auto;
        display: block;
        width: auto;
        height: auto;
        border: none!important;
        @include border-image (null,null,null,null); 
    }
    
    .center {
        margin: auto;
        width: 100%;
        //background-color: #b0e0e6;
        background-color: transparent;
        height: auto;
        text-align: center;
    }

    //.center span{display: block;min-height: 20px;line-height: 18px;clear:both;}
    .title {
        font: 0.2rem 'Open Sans', sans-serif;
        @include font-size(2);
        color: white;
        text-shadow: 2px 2px 4px #000000; 
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }

    .producte {
        display: block;
        font: 0.15rem 'Open Sans', sans-serif;
        color: white;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        @include text-shadow(2px 2px 4px #000FFF);
    }

    .elements {
        display: block;
        font: 0.12rem 'Open Sans', sans-serif;
        color: white;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        @include text-shadow(2px 2px 4px #000FFF);

    }

    .version {
        display: block;
        font: 0.10rem 'Open Sans', sans-serif;
        color: white;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        text-shadow: 2px 2px 4px #000FFF;
        margin-top: 20px;
    }

    footer {
        text-align:center;
        font-family: Arial, Helvetica, Sans-Serif;
        //font-size: 0.1rem;
        //width: 100%;
        background-color: transparent;
        position: absolute;
        vertical-align: center;
        bottom: 0px;
        right: 0;

        a
        {
            color: white;
            text-decoration: none;
            background-image: none;
            background-color: transparent;
        }

        a:hover
        {
            color: #404040;
            text-decoration: underline;
        }
        a:active
        {
            color: #404040;
            text-decoration: none;
        }
    }

    a
    {
        margin-top: 5%;
        color: white;
        text-decoration: none;
        background-image: none;
        background-color: transparent;
        font-size: .1rem;
    }

    a:hover
    {
        color: #404040;
        text-decoration: underline;
    }
    a:active
    {
        color: #404040;
        text-decoration: none;
    }
}
